p {
  font-family: Roboto, Arial;
  margin: 0px 0px;
}

.search-bar {
  display: block;
  font-size: 20px;
  border-color: grey;
  border: none;
  border-radius: 15px;
  font-family: Arial;
  padding: 10px 5px;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}

.search-bar:focus{
  outline: none;
  border: none;
}

.video-preview {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-right: 15px;
}

.thumbnail-row {
  margin-bottom: 12px;
}

.thumbnail {
  width: 300px; 
  object-fit: cover;
  object-position: left;
  display: block;
}

.channel-picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.profile-pic {
  width: 40px;
  border-radius: 25px;
  object-fit: cover;
}

.video-info {
  display: inline-block;
  width: 200px;
  object-position: left;
}

.video-title {
  margin-top: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 12px;
}

.video-author, .video-stats{
  font-size: 12px;
  color: rgb(96,96,96);
}

.video-author {
  margin-bottom: 4px;
}
