p {
  font-family: Roboto, Arial;
  margin: 0px 0px;
}

body {
  margin: 0px 0px;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
}