.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 100;
  
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(215, 213, 213);
}

.left-section {
  display: flex;
  align-items: center;
}

.menu-icon {
  color: black;
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-icon {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;

}

.search-bar {
  flex: 1;
  width: 0;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-color: rgb(192, 192, 192);
  border-width: 0.5px;
  border-style: solid;
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
} 

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button { 
  height: 40px;
  width: 65px;
  background-color: rgb(240, 240, 240);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(249, 249, 249);
}

.audio-icon {
  height: 24px;
  margin-top: 4px;
}


.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;

}

.upload-icon, .apps-icon, .notifications-icon, .user-channel {
  height: 25px;
}
.user-channel{
  height: 35px;
  border-radius: 20px;
}


.page-body {
  display: flex;
  flex-direction: row;
  margin: 10px 10px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  width: 11px;
  height: 11px;
  border: none;
  border-radius: 6px;
  background-color: rgb(204, 0, 0);
  color: white;
  right: -2px;
  top: -1px;
  align-items: center;
  font-size: 10px;
  position: absolute;
  font-family: Roboto, Arial;
  padding: 1.5px 1.5px;
  text-align: center;
}
