.sidebar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  width: 80px;
  background-color: white;
  padding-top: 20px;
  z-index: 200;
}

.sidebar-link {
  height: 74px;
  margin-bottom: 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img { 
  height: 20px;
  padding-top: 10px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 12px;
}