.subscribe-button { 
  background-color: #f00;
  color: white;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 20px;
  transition: opacity 0.5s;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.8;
}

.subscribe-button:active {
  opacity: 0.5;
}

.join-button {
  background-color: white;
  border-color: rgb(53, 115, 228);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: rgb(53, 115, 228);
  border-radius: 2px;
  border-style: solid; 
  border-width: 1px;
  cursor: pointer; 
  margin-right: 8px;
  transition: background-color 0.5s, color 0.5s;
  vertical-align: top;
  margin-right: 30px;
}

.join-button:hover {
  background-color: rgb(53, 115, 228);
  color: white;
}

.join-button:active {
  opacity: 0.8;
}

.tweet-button {
  background-color:rgb(77, 134, 225);
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  font-size: large;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.5s, opacity 0.5s;
  vertical-align: top;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.2);
  opacity: 0.8;
}