.youtube-icon {
  margin-bottom: 10px;
  margin-top: 40px;
  color: red;
  height: 25px;
  width: 30px;
}
p {
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.video-title {
  font-size: 18px;
  font-weight: bold;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-bottom: 20px;
}

.video-author {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-bottom: 20px;
}

.video-info {
  color: rgb(96, 96, 96);
  font-size: 14px;
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;
}

.apple-text {
  padding: 18px 20px;
  background-color: rgb(206, 57, 57);
  color:white;
  text-align: center;
  font-size: 15px;
}

.shop-click {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.shop-click:hover {
  text-decoration: underline;
}

.apple-icon {
  color: rgb(149, 149, 149);
  height: 24px;
  width: 24px;
  margin-bottom: 10px;
}